
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
body {
    min-height: 100vh;
    background: linear-gradient(45deg, #fbda61, #ff5acd);
  }

.navbar {

    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 1rem;
    text-decoration: none;
    font-family: "Passion One", cursive;
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-family: sans-serif;
}

.title {
  margin: 7%;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Passion One", cursive;
  letter-spacing: 3rem;
  color: aqua;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #271e30, #520091);
}

.h1 {
  align-items: center;
  color: aliceblue;
  font-size: 4rem;
  font-family: "Passion One", cursive;
}
