@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

header {

    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}


.navbar {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Passion One", cursive;
    font-size: 20px;
}

nav a:hover {
    color: #000;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


.logo {
    right: 10rem;
    position: relative;
    padding: 10px 0;
    width:50px;
    float: left;
}

nav {
    float: right;
}

.footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-family: sans-serif;
}

.title {
  margin-top: 20%;  
  margin-left: 35%;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Passion One", cursive;
  letter-spacing: 3rem;
  color: aqua;
}

body {

  min-height: 100vh;
  background: linear-gradient(45deg, #271e30, #520091);
}

.h1 {
  align-items: center;
  color: aliceblue;
  font-size: 4rem;
  font-family: "Passion One", cursive;
}

.h1:hover {
  color: #9929af;
  transition: color 300ms ease-out;
}
